# Project: ecommerce-funnel-analytics

# Data files
data/*.csv
*.csv

# Environment / local config
*.env
*.log
*.tmp
*.bak

# Docker
*.pid
*.tar
*.sock
*.pid.lock
docker-compose.override.yml

# pgAdmin
pgadmin/servers.json

# Editor / system files
.vscode/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd

# SQLFluff cache
.sqlfluff_cache/

# System files
Thumbs.db
.DS_Store

# Local scripts
run.bat

# Allowlist
!*.sql
!README.md
!.sqlfluff
!docker-compose.yml
